*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0; 
}

header .container{
    margin-top: px;
    display: flex;
    justify-content: space-between;
    
}

header a{
  
    text-decoration: none;
    margin-right: 100px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: tahoma;
    color:black;

}


.banner-container{
    margin-top: 200px;
    margin-left: 30px;
    font-size: 40px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   

}
.left-section h{
    margin: 0;
    font-size: 300px;
}

button{
    margin-top: -8px;
    background-color: #00F0FF;
    border-color:white;
    color:black;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
   height: 40px;
   width: 200px;
   box-shadow: none;
   
  
    
}

img{
    float: top;
    border-top-left-radius:120px;
    border-bottom-left-radius: 120px;
    border-color: blue;
    
}

